<% layout('layouts/sidebar') %>

<h1>All Users</h1>
<a href="/users/register" class="btn btn-primary btn-sm mt-3 mb-3">Add User</a>

<table class="table table-responsive table-striped table-bordered table-hover">
    <thead class="table-primary">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (let user of users) { %>
            <tr>
                <td><%= user._id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.firstname %></td>
                <td><%= user.lastname %></td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-info btn-sm" href="/users/<%= user._id %>/edit">Edit</a>
                        <form class="d-inline" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

